---
driver:
  name: docker

provisioner:
  name: dummy

verifier:
  name: inspec

platforms:
  - name: test
    driver:
      image: namespace/base-docker-build:local-test
      platform: debian

suites:
  - name: default
